@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');




/* 여러 감추기 및 보이기*/
#tnb, #hd_wrapper, #gnb .gnb_mnal, #gnb ul:after, .gnb_1dli .bg, .ctt_admin,
.gnb_1dli_over .gnb_2dul, #gnb_all h2, .fa.fa-times, #gnb_all .gnb_al_li .gnb_al_a,#gnb .gnb_close_btn,
.mb_log_cate{display: none;}
a{cursor: pointer;}

.blank1{height: 50px;}
.blank2{height: 100px;}
.blank3{height: 150px;}

/* 로딩 화면 스타일 */
#loading {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: white;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 100000; /* 다른 요소 위에 표시되도록 z-index 설정 */
 }
 #loading img{width:100px}
 
 /* 페이지 로드 후 숨겨질 때의 스타일 */
 #loading.hidden {
     display: none;
 }

/* 헤드 */
.logo-wr{display: inline-block;}
<<<<<<< HEAD
.logo-wr img{width: 130px; height: 40px;}
#gnb{background-color: transparent; transition: 0.2s all;}
#gnb.change-color{background-color: #404040cc; transition: 0.2s all;}
#gnb #gnb_1dul{display: flex; justify-content: space-between; align-items: center; width: 1200px; z-index: 1000; height: 55px; padding-left: 20px;}
#gnb_all{display: flex; z-index: 999; top:55px;justify-content: center;  border: none; color: #fff; overflow: hidden; visibility: hidden; transition: 0.3s all;}
#gnb_all.visible {background-color: transparent; transition: 0.3s all; visibility: visible;}
#gnb.change-color #gnb_all.visible {background-color: #404040aa; transition: 0.3s all; visibility: visible;}
#gnb_all .gnb_al_ul{transform: translateY(-30px); transition: 0.3s all; opacity: 0; visibility: hidden;}
#gnb.change-color #gnb_all .gnb_al_ul{ transition: 0.2s all;}
#gnb_all.visible .gnb_al_ul{transform: translate(0px); transition: 0.3s all; opacity: 1; visibility: visible;}

#gnb_all .gnb_al_li li a{color:#fff}
.gnb_1dli .gnb_1da{padding: 0 30px; font-size: 13px; color: #fff; font-weight: 600;}
=======
.logo-wr img{width: 100px; height: 30px;}
#gnb #gnb_1dul{display: flex; justify-content: space-between; align-items: center; width: 1200px; z-index: 1000; background-color: rgba(0, 0, 0, 0.2); height: 55px; padding-left: 20px; }
#gnb_all{display: flex; z-index: 999;  top:55px;justify-content: center; transform: translateY(-30px); transition: 0.3s all; opacity: 0;visibility: hidden; border: none;}
#gnb_all.visible{display: flex; justify-content: center; top:55px; transform: translate(0px); transition: 0.3s all; opacity: 1; visibility: visible;}
.gnb_1dli .gnb_1da{padding: 0 30px; }
>>>>>>> a5b22c52de1d6ad116605437abe9ca991ed93452
#gnb_all .gnb_al_ul{display: flex; justify-content: end; width: 1200px;}
#gnb_all .gnb_al_li{padding: 10px 0; text-align: center; border-left:none; }
#gnb .gnb_wrap{display: flex; justify-content: center;}
#hd{position: fixed; width: 100%; z-index: 10000; font-size: 1.3rem;}
#wrapper{top: 55px;}
.mobile-wr{display: none;}
#gnb{
  height:80px;
}




/* 모바일 헤드 */
@media screen and (max-width:1050px) {
.pc-wr{display: none;}
.mobile-wr{display: block;}
.bar1, .bar2, .bar3 {width: 100%;height: 3px;background-color: #C0C0C0;margin: 5px 0;transition: 0.4s;}
#gnb_open {position:absolute;top:5px;right:10px;padding:0 10px;height:40px;width:40px;border:0;background-size:70%;color:#fff;background:none;font-size:2em}
.hd_opener.active .bar1 {transform: rotate(-45deg) translate(-5px, 6px);}
.hd_opener.active .bar2 {opacity: 0;}  
.hd_opener.active .bar3 {transform: rotate(45deg) translate(-5px, -6px);}
#gnb_all .gnb_al_li .gnb_al_a{display: flex;}
.gnb_al_li-wr{display: flex; flex-direction: column; width: 100%;}
#gnb_all{width: 75%; height: calc(100vh - 55px); transform: translateX(-30px); padding: 20px;  }
#gnb_all.visible{background-color: #eee; transition: 0.2s all; }
#gnb_all .gnb_al_ul{background-color: #fff;}
#gnb_all .gnb_al_a{justify-content: space-between; align-items: center; padding: 20px; border-bottom: 1px solid #eee; font-weight: 700; font-size: 1.4em;}
#gnb_all .gnb_al_a img{transform: rotate(0deg); transition: 0.2s all;}
#gnb_all .gnb_al_a.active img{transform: rotate(180deg); transition: 0.2s all;}
#gnb .gnb_wrap {justify-content: flex-start;}
#gnb_all .gnb_al_ul2{display: none; padding: 5px; border-bottom:1px solid #eee; background-color: #f5f5f5;}
#gnb_all .gnb_al_ul2 li a{padding: 15px; width: 100%; height: 100%; display: block; font-size: 1.3em;}
#gnb_all .gnb_al_ul2.active{display: block;}
#gnb_all .gnb_al_li{width: 100%; min-height: auto; padding: 0; text-align: left;}
#gnb .gnb_close_btn{display: none;}
#gnb_all .gnb_al_li li a{color: #000;}
}

/* 상단 배너 */
.topBanner{width: 100%; position: relative;z-index: 1000;}
.topBanner img{width: 100%; position: relative; z-index: 0;}
.bannerText{width: 100%; height: 100%; position: absolute; display: flex; justify-content: center; font-size: 3em; font-weight: 700;
     align-items: center; z-index: 1; text-align: center;}
.button-wr{display: flex; position: relative; width: 100%; align-items: center; justify-content: center; gap: 100px;
     background-color: #12669A;  z-index: 2; flex-wrap: wrap;}
.button{height: 60px;  display: flex; align-items: center; font-size: 1.5em; transition: 0.2s all; color:#fff;font-weight: 600;}
.button:hover, .button.active{transition: 0.2s all;}
.button div{height: 70%; padding: 0 0px; display: flex; align-items: center;}
.button-wr .bar2{width:1px; background-color: #404040; height: 25px; margin: 0 10px;}
.topBanner .bar {position: absolute;transition: all 0.3s ease;height: 1px; bottom:17px; background: #FFFFFF; /* 모바일 배너쪽도 같이 수정해야함*/ z-index: 3;}


/* 모바일 배너 */
@media screen and (max-width:1050px) {
.button{border-bottom: 1px solid transparent; height: 30px;}
.button:hover, .button.active{border-bottom: 1px solid #fff; transition: none;}
.button-wr{gap: 30px; row-gap: 5px; padding: 5px 20px; justify-content: flex-start;}
.topBanner .bar{display: none;}
.topBanner{display: flex; justify-content: center; flex-direction: column; align-items: center; overflow: hidden;}
.topBanner img{width: 200%;}
}


/* 콘텐츠 스킨, 사이드메뉴 스타일링 */
#ctt{background-color: transparent;}
.ctt_con_wr{max-width: 1200px; margin: 0 auto; display: flex; gap: 50px; margin-top: 100px;}
.sidemenu{display: none; flex-direction: column; gap: 30px; width: 235px;}
.sidemenu .top{font-size: 28px; padding-bottom: 10px; font-weight: 700; color: #12669A;}
.sidemenu .bottom{font-size: 15px; line-height: 1.3; font-weight: 600;}
.sidemenu .bottom .side-li .st0{stroke: transparent; transform: translateX(-2px);}
.sidemenu .bottom .side-li svg{width: 2px; height: 17px; overflow: visible;}
.sidemenu .bottom .side-li.active .st0, .sidemenu .bottom .side-li:hover .st0{ stroke: #fff; transition: 0.2s all; transform: translateX(0px);}
.sidemenu .bottom .side-li{background-color: #eee; transition: 0.2s all; border-bottom: 1px solid #727171; }
.sidemenu .bottom .side-li a{padding: 15px; display: block; width: 100%; height: 100%; transition: 0.2s all; display: flex; justify-content: space-between;}
.sidemenu .bottom .side-li.active, .sidemenu .bottom .side-li:hover{background-color: #12669A; transition: 0.2s all; border-bottom: 1px solid #12669A;}
.sidemenu .bottom .side-li.active a, .sidemenu .bottom .side-li:hover a{color:#fff; transition: 0.2s all;}


@media screen and (max-width:1200px) {
    .sidemenu{display: none;}
}


/* 애니메이팅 */
.act{opacity: 0; transform: translateY(30px); transition: 0.5s all;}
.act.visible{opacity: 1; transform: translateY(0);}
.actl{opacity: 0; transform: translateX(30px); transition: 0.5s all;}
.actl.visible{opacity: 1; transform: translateX(0);}
.actr{opacity: 0; transform: translateX(-30px); transition: 0.5s all;}
.actr.visible{opacity: 1; transform: translateX(0);}
.actt{opacity: 0; transform: translateY(-30px); transition: 0.5s all;}
.actt.visible{opacity: 1; transform: translateY(0);}
.big{opacity: 0; transform: scale(2.0); transition: 0.5s all;}
.big.visible{opacity: 1; transform: scale(1);}


.s1{transition-delay: 0.1s;}
.s2{transition-delay: 0.2s;}
.s3{transition-delay: 0.3s;}
.s4{transition-delay: 0.4s;}
.s5{transition-delay: 0.5s;}
.s6{transition-delay: 0.6s;}
.s7{transition-delay: 0.7s;}
.s8{transition-delay: 0.8s;}
.s9{transition-delay: 0.9s;}
.s10{transition-delay: 1.0s;}
.s11{transition-delay: 1.1s;}



/* 슬라이더 */

.slider-wr{width: 100%; height: 1080px; overflow: hidden; position:relative; display: flex; justify-content: center;}
.main-slider{width: 100%;}
.slick-initialized .slick-slide{display: flex; justify-content: center; overflow: hidden;}
.main-slider img{width: 100%; min-width:850px; min-height: 350px;}
.slick-dots{bottom: 20px !important; z-index: 21;}
.slick-dots {bottom: 10px; list-style: none; display: flex; justify-content: center; padding: 0;}
.slick-dots li {margin: 0 5px;}
.slick-dots li button {border: none;color: transparent; width: 10px; height: 10px; border-radius: 100%; border: 2px solid #FFFFFF;transform: translateX(-10px);}
.slick-dots li.slick-active button {background-color: #12669A;border: 2px solid #12669A;}
.slick-dots li button:before{display: none;}
.slick-dotted.slick-slider{margin-bottom: 0;}
#pauseButton {transform: translateX(40px);position: absolute;cursor: pointer;width: 13.2px;height: 13.2px;background-color: transparent;border: 0px;margin-left: 10px; z-index: 21;bottom:27px;display: flex;justify-content: space-between;}
#pauseButton.paused{width: 0; height: 0; border-top: 6.7px solid transparent; border-bottom: 6.7px solid transparent; border-left: 10.2px solid #fff}
#pauseButton div{background-color:#fff;width: 33%;height:100%}
.slider-wr .text-wr{text-align: center; color: #fff; display: flex; flex-direction: column;  width:500px; max-width: 300px; height:300px; text-align: center; justify-content: center;
    position: absolute; left:50%; transform: translate(-50%, -50%); top:50%; z-index:999; overflow: hidden; background: url('../img/mainslider/main1.svg') no-repeat center center/cover;}
.slider-wr .text-wr2{ background:transparent; position: absolute; left:50%; transform: translateX(-50%); z-index:99; bottom:10%; color:#fff; text-align: center; font-size: 2.5rem; font-weight: 600;}
.text-wr .t_text {display: block; font-size: 6.2rem; font-weight: 700;}
.text-wr .m_text{display: block; font-size: 3.3rem; font-weight: 700;}
.text-wr .b_text{display: block; font-size: 6rem; font-weight: 700;}


@media screen and (max-width:1050px) {
    .slider-wr .text-wr{font-size: 30px;}
    .text-wr .toptext2{font-size: 24px;}
}



/* 푸터 */

#ft{display: flex; justify-content: center; background-color: #404040; z-index: 1000; position: relative;}
#ft_wr{display: flex; width: 1200px; gap: 20px;}
#ft_wr .left img{width: 100px;}
#ft_wr .right{ color: #999595; font-weight: 300;}

@media screen and (max-width:1050px) {
#ft_wr {flex-direction: column; align-items: center; padding: 30px 20px;}

}





/* 메인 페이지*/

.co_title{
  color:#0A8E39; font-size:5rem; font-weight: 800; line-height: 1.2; padding: 0 calc(50% - 750px);
}
.co_title .title_s{
  color:#909090; font-size: 4rem; font-weight: 500; line-height: 1.5;
}

.co1{display: flex; flex-direction: column; width: 100%;}
.co1_wr{ display: flex; flex-direction: row; gap:10px; justify-content: center;}
/*.co1-1{display: flex; width: 560px; justify-content: center; position: relative; overflow: hidden; padding:70px 80px 50px;}
.co1-1:hover img{transform: scale(1.05); transition: 0.2s all;}
.co1-1 img{width: 100%; z-index: -2;transform: scale(1.01);}
.co1-1 .co1-text{position: absolute; bottom: 0; width: 100%;  padding: 40px 0;}
.co1-1 .co1-text .subject{color: #fff;}
.co1_logo{ position:absolute; width:300px; }*/

.subject{font-size: 5rem; text-align: center; font-weight: 700; color: #fff; line-height: 1.3;}
.subject.left{text-align: left;}
.subject.left span{margin-top: 0;}
.subject span{display: block; font-size: 25px}
/*.co1-1 .co1-text::after{content: '';background-color: #12669A; mix-blend-mode: multiply; position: absolute; left: 0; bottom: 0; right: 0; top: 0; z-index: -1;}*/
.co1-1 {
  position: relative; display: flex; flex-direction: column; width: 100%; height:666px; max-width: 560px; max-height: 666px; padding: 78px 74px 50px; border-radius: 20px; overflow: hidden; text-align: center; color: white;
  background: url('../img/main/co1-1.jpg') no-repeat center center/cover; align-items: center;
}

.co1-1:hover img{transform: scale(1.05); transition: 0.2s all;}
.co1_logo {
  width:300px; flex-shrink: 0; height:auto;
}


.co1-1 .subject {
  font-size: 24px; /* 텍스트 크기 */
  font-weight: bold;
  line-height: 1.5;
}



.co2{padding: 185px 0; background-image: url(../img/main/bg1.svg); background-position: right bottom; background-size:cover; display: flex; flex-direction: column; gap:50px}

.co2 .middle{display: flex; justify-content: center; gap: 60px; position: relative;align-items: center; flex-wrap: wrap;}
.co2 .middle .bar2{width: 0.5px; background-color: #8A969D; height: 180px;}
.co2 .middle .box img{ width: 95px;}
.co2 .middle .box{display: flex;flex-direction: column; gap: 20px; align-items: center;}
.co2-1{font-size: 24px; font-weight: 200; color: #12669A; letter-spacing: -1px;}
.co2-1 span{font-weight: 500;}
.co2-2{text-align: center; font-size: 14px; font-weight: 500;}
.co2 .bottom{display: flex; justify-content: center;}


@media screen and (max-width:1050px) {
.co2 .middle .bar2{display: none;}
.subject{font-size: 24px;}
.subject span{font-size: 18px;}
}

/* 자세히보기 버튼 */
.detail{
  display: flex; gap:30px; flex-direction: row; border-radius: 92px; border: 4px solid #5CA545; opacity: 0.9; background: #FFF;
  width:230px; height:66px; font-size: 2.5rem; font-weight: 500; justify-content: center; align-items: center;
}
.detail img{
  width:20px;
}






/*
.viewDetails{display: flex; justify-content: center; align-items: center; padding: 15px 25px; border-radius: 30px;
    font-size: 17px; font-weight: 200 ; color: #12669A; border: 1px solid #12669A; transition: 0.2s all; height: 42px;}
.viewDetails.Contact{color: #fff; border: 1px solid #fff; padding: 15px 20px;}
.viewDetails:hover{background-color: #12669A; transition: 0.2s all; color:#fff}
.viewDetails.Contact:hover{background-color: #fff; transition: 0.2s all; color: #12669A}
.viewDetails svg:nth-child(2){opacity: 0;}
.viewDetails:hover svg:nth-child(2){opacity: 1;}
.viewDetails svg:last-child{opacity: 1;}
.viewDetails:hover svg:last-child{opacity: 0;}
.viewDetails:hover svg{transform: translateX(5px); transition: 0.2s all;}
.viewDetails span{font-weight: 500;}
.viewDetails svg{height:17px; transition: 0.2s all; overflow: visible; enable-background:new 0 0 5 17.5; width: 5px; height:17px}
.st0{fill:none;stroke:#12669A;stroke-width:1;stroke-miterlimit:10;}
.viewDetails.Contact .st0{stroke:#fff;}
.viewDetails:hover .st0{stroke:#fff;}
.viewDetails.Contact:hover .st0{stroke:#12669A;}
*/


.co3{padding: 185px 0; background-color: #D3DBE0; background-image: url(../img/main/bg2.svg); background-size:cover; display: flex; flex-direction: column; gap:119px}
.co3 .bottom{display: flex; justify-content: center; gap: 59px; flex-wrap: wrap;}
.co3 .bottom .box{display: flex; background-color: #fff; border-radius: 20px; position: relative; overflow: hidden; }
.co3 .bottom .box:hover img{transform: scale(1.02); transition: 0.2s all;}
.co3 .bottom .box .boxtext{width: 100%; position: absolute; bottom: 46px; font-size: 24px; color: #12669A; font-weight: 200; text-align: center; letter-spacing: -1px;}
.co3 .bottom .box .boxtext span{font-weight: 500;}
.co3 .bottom .box img{width: 363px; height: 363px; transition: 0.2s all;}


@media screen and (max-width:403px) {
.co3 .bottom .box{width: calc(100% - 40px);}
.co3 .bottom .box img{width: 100%; height: auto;}

}


.co4{display: flex;}
.co4>.left{width: 50%; padding: 135px 114px 150px calc(50% - 600px);}
.co4>.left .top{display: flex; justify-content: space-between; align-items: center;}
.co4 .right{width: 50%; background-color: #12669A; padding:135px calc(50% - 600px) 150px 114px; display: flex; flex-direction: column; gap:22px}
.co4 .right .row{display: flex; gap: 22px; width: 100%; max-width: 486px;}
.co4 .right .row .box{border: 1px solid #fff; padding: 26px 17px 26px 32px; display: flex; flex-direction: column; gap: 18px; flex: 1;}
.co4 .right .row .box.box2{flex-direction: row; justify-content: space-between; width: 100%;}
.co4 .right .row .box .top{font-size: 28px; color: #fff; font-weight: 600; display: flex; flex-direction: column; gap: 18px;}
.co4 .right .row .box .top span{font-size: 20px;}
.co4 .right .row .box .imgs{display: flex; gap:10px; align-items: end;}
.co4 .right .row .box .imgs img{height: 45px;}


@media screen and (max-width:1200px) {
    .co4{flex-direction: column;}
    .co4>.left{width: 100%; padding: 40px 20px;}
    .co4 .right{width: 100%; padding: 40px 20px;}
    .co4>.left .top{max-width: 486px; margin: 0 auto;}
    .co4>.left .bottom{max-width: 486px; margin: 0 auto;}
    .co4 .right .row{margin: 0 auto; flex-direction: column;}
    .co4 .right .row .box.box2{flex-direction: column;}
    .co4 .right .row .box .imgs{justify-content: space-between;}
}


/* 상세 페이지들 */
.co-wr{width: 100%;}
.imgwr{display: flex; justify-content: center; align-items: center; width: 100%; margin-bottom: 50px;}
.logoblack{width: 35%;}
.co5{display: flex; color: #126698; justify-content: center; gap: 28px; margin-top: 200px;}
.co5 .left{font-size: 43px; font-weight: 100; letter-spacing: -2px; line-height: 1;}
.co5 .left span{font-weight: 500;}
.co5 .right{font-size: 15px; font-weight: 500;}

@media screen and (max-width:800px) {
.logoblack{width: 70%;}
.co5{flex-direction: column; padding: 0 20px;}

}



.co-bg{position: fixed; width:100vw;background-image: url(../img/co-bg.svg);height: 100vh; 
    bottom: 0;right: 0; z-index: 0; background-position: right bottom;background-repeat: no-repeat; z-index: -1;}




.co6{position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 100px;}
.co6 .bar{position: absolute; width: 3px; height: 96%; background-color: #12669A;}
.co6 .row{transform: translateX(calc(50% - 6px)); display: flex; margin-top: 70px; }
.co6 .row:nth-child(2){margin-top: 10px;}
.co6 .row:nth-child(odd){flex-direction: row-reverse;transform: translateX(calc(-50% + 6px));}
.co6 .row .O1{width: 13px; min-width: 13px; height: 13px; border-radius: 50%; border: 3px solid #12669A; background-color: #fff; }
.co6 .row .O1.O2{transform: scale(1.5); border: 2px solid #12669A;}
.co6 .row .line{border-bottom: 3px dashed #12669A; width: 30px; min-width: 30px; height: 8px;}
.co6 .row .con{display: flex; flex-direction: column; margin: 0 16px; font-size: 19px;font-weight: 500;}
.co6 .row .con .date{color: #12669A; margin-bottom: 5px;}
.co6 .row .con .text{color: #3E3A39; margin-bottom: 20px;}
.co6 .row .con .text:last-child{margin-bottom: 0;}
.co6 .row:nth-child(odd) .con{text-align: right;}




@media screen and (max-width:832px) {
.co6 {align-items: flex-start; padding: 0 20px;}
.co6 .row{transform: translateX(0);}
.co6 .row:nth-child(odd){flex-direction: row;transform: translateX(0);}
.co6 .row:nth-child(odd) .con{text-align: left;}
.co6 .bar{margin-left:5px ; width: 2px;}
}


.co7{display: flex; gap: 70px; justify-content: center; flex-wrap: wrap;}
.co7 .box{display: flex; flex-direction: column; align-items: center; color: #12669A;
    gap: 20px; font-size: 19px; font-weight: 500; text-align: center;}
.co7 .box img{height: 300px; border: 1px solid #ddd;}



.co8{width: 100%; display: flex; flex-direction: column; gap: 15px; margin: 100px 0; padding: 0 20px;}
.co8 .top{color: #9D9E9E; font-size: 28px; font-weight: 600;}
.co8 .bar{width: 100%; height: 0.5px; background-color: #231815;}
.co8 .bottom{color: #3E3A39; font-size: 19px; line-height: 1.3; display: flex; flex-direction: column; gap: 10px;}
.co8 .bottom .row{display: grid; grid-template-columns: 70% 30%; justify-content: space-between; }
.co8 .bottom .row span:first-child{text-indent: -10px; /* 첫 줄을 왼쪽으로 이동 */
    padding-left: 10px; /* 전체 텍스트를 오른쪽으로 이동 */}
.co8 .bottom .row span:last-child{text-align: end; }


.co9{display: flex; gap:10px; margin-top: 44px;}
.co9 > .left{width:60%;}
.co9 > .right{width:40%;}
.co9 .right img{width:100%; height: 100%;}
.co9-grid{display: grid; grid-template-columns: 25% 75%;  justify-content: left; align-items: end; margin-top: 10px;}
.co9-grid .left{width:100%; font-size: 18px; font-weight: 700; color: #484F4B; padding: 20px 0 7px 0; border-bottom: 2px solid #484F4B;text-align: center;}
.co9-grid .left span{margin-left: 10px;letter-spacing: 10px; }
.co9-grid .right{padding: 20px 0 7px; font-size: 18px; font-weight: 500; color: #484F4B; border-bottom: 1px solid #D6D6D6;}
.co9-grid .right span{margin-left: 25px; display:block; position: relative;}
.co9 .left .subject span{margin-top: 0; text-align: left;}


.bo_sch_wrap{display: block; position: relative;}
.bo_sch{position: relative; margin:0}
#bo_list_total, .bo_sch_cls, .bo_sch h3, .btn_bo_sch{display: none;}
.bo_sch form{padding: 0; display: flex; gap:9.5px; justify-content: flex-end;}
.bo_sch select{height:auto;}
.btn_bo_user{margin:0; display: flex;}
.bo_sch .sch_bar{margin:0; display: flex; border: 0px; border-radius: 0; width: auto;}
.bo_sch .sch_input{width: 180px; border: 1px solid #AAAAAA; border-radius: 5px;}
.bo_sch_bg{background: transparent; display: none;}

#sfl{width:108px; border: 1px solid #AAAAAA; border-radius: 5px;}
.bo_sch .sch_btn{font-size: 28px;}
.bo_sch{width: auto;}
.td_num2{width:150px; text-align: center;}
.tbl_head01 thead th, .tbl_head01 thead th a{color:#AAAAAA;}

.tbl_head01 thead th{padding: 17px 0;}
.tbl_wrap table thead{border-bottom: 1px solid #707070; color: #fff; font-size: 20px; }
#bo_list .tbl_wrap table tbody{font-size: 20px; color: #333333; font-weight: 500;}
#bo_list .td_num2{width: 15%; padding: 17px 0; color: #333333; font-weight: 500;}
#bo_list .td_subject{width: auto; padding: 30px 0 30px 30px; }
#bo_list .td_subject .bo_tit{color: #333333; font-weight: 500;}
#bo_list .td_name{width: 10%; padding: 17px 0; text-align: center;color: #333333; font-weight: 500;}
#bo_list .td_datetime{width: 15%; padding: 17px 0; color: #333333; font-weight: 500;}
#bo_list .td_blank{width: 10%;}
#bo_list tbody .even td{background-color: transparent;}
#bo_list tbody .even:hover td{background-color: transparent;}
#bo_list tbody tr{border-left:none ;}
.tbl_wrap table{border-top:1px solid #707070; }
#bo_list .pg_wrap{float:none;}
.tbl_head01 thead th{border: none;}

.tbl_head01 td{border-top: none;; border-bottom: 1px solid #707070; font-size: 18px; font-weight: 500;}
.tbl_head01 td a{font-weight: 500;}
#bo_w, #bo_v{width: 100%;}

.pg_wrapper{width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: row;margin: 151px 0 216px 0;}
.pg_wrap{display: flex;flex-direction: row;}
.pg{display: flex;flex-direction: row; align-items: center; justify-content: center; gap:30px}
.pg_page{display: flex; align-items: center; justify-content: center; border: none; 
  background-color: transparent;padding: 0px; font-size: 16px;line-height: 28px;font-weight: 500;min-width: 15px;
  transition: 0.2s color;border-radius: 0px;}

.pg_page:hover{color:#484F4B;border-bottom:2px solid #484F4B ;transition: 0.2s color;}
.pg_page.pg_next:hover{border-bottom:none; transform: translateX(2px); transition: 0.2s all;}
.pg_page.pg_next_disabled:hover{border-bottom:none;}
.pg_page.pg_next_disabled .arrow-button{cursor: default; }
.pg_page.pg_next_disabled .arrow-button::before,
.pg_page.pg_next_disabled .arrow-button::after{background-color: #959595;}
.pg_page.pg_prev:hover{border-bottom:none; transform: translateX(-2px); transition: 0.2s all;}
.pg_page.pg_prev_disabled:hover{border-bottom:none;}
.pg_page.pg_prev_disabled .arrow-button{cursor: default; }
.pg_page.pg_prev_disabled .arrow-button::before,
.pg_page.pg_prev_disabled .arrow-button::after{background-color: #959595;}
.pg_current{display: flex;flex-direction: row; align-items: center; justify-content: center;
  color:#484F4B;background-color: transparent;border: none;padding: 0 10px;
  font-size: 16px; line-height: 28px; cursor: default; font-weight: 500; 
  border-bottom:2px solid #484F4B ; border-radius: 0px; padding: 0; min-width: 15px;}

@media screen and (max-width:1200px) {
.pg_wrapper{margin: 50px 0;} 
.tbl_head01{padding: 0 20px;}
}

.tabcontent{width: 100%;display: none;}
.tabcontent.active{display: block;}
.tab{width: 100%; display: flex; margin-top: 20px;}
.tab .tablink{flex: 1; border: none; background-color: #F0F0F0 ; padding: 10px 40px; color: #333333; font-size: 18px; font-weight: 500; }
.tab .tablink.active{background-color: #12669A; color: #FFFFFF; transition: 0.2s all;}

.lat li{display: flex; border: none; justify-content: space-between; font-size: 14px; font-weight: 500;}
.lat li .new_icon{display: none;}
.lat ul{padding: 20px 0;}
.lt_info{padding: 0;}
.tabcontent .sv_member{display: none;}
.lat li a{width: 100%r;}





#bo_w{font-size: 18px;}
#bo_w .write_div .bo_v_option{display: none;}
#bo_w .bo_w_tit #btn_autosave{display: none;}
#bo_w .bo_w_link {display: none;}
#bo_w .bo_w_tit .bo_w_chkbox {font-size: 14px; font-weight: 500; color:#000000}
#bo_w .bo_w_tit .bo_w_chkbox .textarea{padding: 21px 18px 27px 18px}
#bo_w .bo_w_tit .bo_w_chkbox input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
#bo_w .bo_w_tit .bo_w_chkbox label{font-size: 18px; font-weight: 700;  display: flex; align-items: center;}
#bo_w .bo_w_tit .bo_w_chkbox .checkmark {
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  border: 1px solid #D9D9D9;
}
#bo_w .bo_w_tit .bo_w_chkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #D9D9D9;
}
#bo_w .bo_w_tit .bo_w_chkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#bo_w .bo_w_tit .bo_w_chkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}
#bo_w .bo_w_tit .bo_w_chkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bo_w_tit .hrline{font-size: 16px; font-weight: 500; color: #666666; text-align: right; border-bottom:2px solid #335899; padding: 64px 0 14px 0;}
.bo_w_tit .hrline span{color: #FF0000;}
.write_grid{display: grid; grid-template-columns: 15% 85%; row-gap:40px;margin: 40px 0 30px 0;}
.write_grid .left{font-size: 18px;font-weight: 700; color: #000000; line-height: 38px;padding-left:20px}
.write_grid .left span{color: #FF0000;}
#bo_w .write_div{margin: 0;}
.fileh1{font-size: 18px;font-weight: 700; color: #000000; line-height: 38px;}
.fileh1 span{font-weight: 500;}
.write_grid .left{padding-left:20px}
#bo_w .bo_w_tit .frm_input{padding: 5px; height: 38px; border-radius: 0; background-color: #F2F2F2; border: 1px solid #C1C3C5;}
.write_div textarea{border-radius: 0;  border: 1px solid #C1C3C5;}
.write_div textarea#wr_content{background-color: #F2F2F2;}
#bo_w .bo_w_tit .frm_input.short{width: 50%}
.write_div .right.boxs{display: flex; width:60%; flex-wrap: wrap; column-gap: 11px;}
.write_div .right .checkbox{font-size: 14px; font-weight: 500; display: flex; align-items: center; width: auto; gap:5px}
.write_div .right .checkbox input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
.write_div .right .checkbox .checkmark {
  height: 18px;
  width: 18px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
}
.write_div .right .checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #D9D9D9;
}
.write_div .right .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.write_div .right .checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}
.write_div .right .checkbox .checkmark:after {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #666666;
  border-radius: 50%;
}
#bo_w .bo_w_flie .file_wr{border: none; height:auto; padding:0 0 0 20px;}
#bo_w .bo_w_flie .frm_file{padding-left: 0; display: none;}
#bo_w .bo_w_flie .lb_icon{width: auto;}
#file-upload_button {
  /* 사용자 정의 버튼 스타일 */
  background-color: #F2F2F2;
  color: #666666;
  border: 1px solid #C1C3C5;
  border-radius: 13px;
  cursor: pointer;
  padding: 8px 15px;
}
#file-name {
  font-weight: 300;
  color: #666666;
}
#bo_w .btn_confirm.write_div{margin-top: 49px; margin-bottom: 243px; display: flex;
gap:20px; width: 100%; align-items: center; justify-content: center; font-size: 18px;
font-weight: 500;}
#bo_w .btn_confirm.write_div .btn_submit{width: 217px; background-color: #12669A; padding:13px 0; border-radius: 0; line-height: 18px;}
#bo_w .btn_confirm.write_div .btn_cancel{width: 217px; border: 1px solid #C1C3C5; background-color: #fff; color: #333333; font-weight: 500;padding:13px 0; border-radius: 0;line-height: 18px;}
#bo_w .hrline{margin-top: 36px; border-bottom:2px solid #335899; }
#bo_w .bo_w_flie {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;}
    #bo_w .write_div:after{display: none;}

.root_daum_roughmap .wrap_map{width: 100%;}
.root_daum_roughmap{width: 100%;}


@media screen and (max-width:1200px) {
  .root_daum_roughmap{padding: 0 20px;}
  .co9{padding: 0 20px;}
  .write_grid{display: flex; flex-direction: column;row-gap: 0px;}
  #bo_w .bo_w_tit .bo_w_chkbox label{font-size: 16px;}
  .bo_w_tit .hrline{font-size: 14px;}
  .write_grid .right{margin-bottom: 20px;}
  .write_grid .right.boxs{width: 100%;}
  #bo_w .bo_w_tit .frm_input.short{width: 100%;}
  .write_grid .left{padding: 0;}
  #bo_w .bo_w_flie{flex-direction: column; justify-content: flex-start; align-items: flex-start;}
  #captcha #captcha_img{width: 50%;}
  #bo_w .bo_w_flie .file_wr{padding: 0;}
  #bo_w .btn_confirm.write_div .btn_submit{height: auto; font-size: 14px;}
  #bo_w .btn_confirm.write_div .btn_cancel{height: auto; font-size: 14px;}
  #fwrite{padding:0 20px ;}

}
@media screen and (max-width:700px) {
  .root_daum_roughmap .wrap_map{height: 500px;}
  .co9{flex-direction: column;}
  .co9 > .left{width: 100%;}
  .co9 > .right{width: 100%;}
}


.co10{text-align: center;}
.co10 .co2-1{font-size: 42px; line-height: 1.3;}
.co10 .co2-1 .co10-2{font-size: 30px;display: block;}
.co10 .co10-1{ display: grid; grid-template-columns: repeat(2 ,1fr); gap: 30px;}
.co10 .co10-1 .box{grid-column: span 2; border: 1px solid #231815;}
.co10 .co10-1 .box.sm{grid-column: span 1;}
.co10 .co10-1 .box.pad{padding: 60px 50px; gap: 10px; display: flex; flex-direction: column;}
.co10 .co10-1 .box .row{display: flex; font-size: 19px; line-height: 1.3; gap: 20px; text-align: left; font-weight: 600;}
.co10 .co10-1 .box .row .left{color: #12669A; letter-spacing: -2px; min-width: 65px; width: 65px;}
.co10 .co10-1 .box img{width: 100%;}
.co10 .co10-1 .imgbox{font-size: 19px; font-weight: 600; display: flex; flex-direction: column; gap: 5px;}
.co10 .co10-1 .imgbox span{color: #12669A;}


@media screen and (max-width:1200px) {
.co10{padding: 0 20px;}
.co10 .co10-1{gap: 15px;}
.co10 .co10-1 .box.pad{padding: 30px 25px;}
.co10 .co10-1 .box .row{font-size: 14px; gap: 15px;}
.co10 .co10-1 .imgbox{font-size: 14px;}
.co10 .co10-1 .box .row .left{min-width: 50px; width: 50px;}
}


<<<<<<< HEAD
@media screen and (max-width:700px) {
  .co10 .co10-1 .box.sm{grid-column: span 2;}
  .co10 .co10-1 .imgbox{grid-column: span 2;}
  .co10 .co2-1{font-size: 24px;}
  .co10 .co2-1 .co10-2{font-size: 18px;}
}

@media screen and (max-width:360px) {
  .co10 .co10-1 .imgbox{font-size: 12px;}
}


#youtube_player{width: 100%;}
.video-stream{width: 100%!important;}
.youtube-wrap{  position: relative;  width: 100%;  padding-bottom: 56.25%;
  height: 0; overflow: hidden; display: flex; justify-content: center; background-color: #fff;}
  .youtube-wrap  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
.blocker{position: absolute; top:0; bottom:0; left:0; right:0;}

/* 메인 페이지 모바일*/
@media screen and (max-width:1050px) {
.co1{display: grid; grid-template-columns: repeat(3 ,1fr);}
.co1-1 .co1-text{font-size: 24px; padding: 20px 0;}
.co1-1 .co1-text span{font-size: 18px; margin-top: 0;}
}

@media screen and (max-width:550px) {
.co1{grid-template-columns: repeat(2 ,1fr);}
=======
/* 상품 */
.sct_wrap{width: 100%;}
.smt_40{display: grid; grid-template-columns: repeat(4, 1fr);}
.smt_40 .sct_li{width: 100%;}

/* 메인 컨텐츠1 */
.co1_wr {
  display:flex; width: 100%; height:70vh; background: linear-gradient(to bottom, #6DB130 60%, #FFFFFF 40%);
}
.co1{display: flex; width: 1200px; margin:100px auto;}
.co1-1{display: flex; width: 100%; justify-content: center; position: relative; overflow: hidden;}
.co1-1:hover img{transform: scale(1.05); transition: 0.2s all;}
.co1-1 img{width: 100%; z-index: -2;transform: scale(1.01);}
.subject{font-size: 34px; text-align: center; font-weight: 600; color: #12669A;}
.subject.left{text-align: left;}
.subject.left span{margin-top: 0;}
.subject span{display: block; font-size: 1.5rem; margin-top: 20px;}
.co1-1 .co1-text{position: absolute; bottom: 0; width: 100%;  padding: 20px 0;}
.co1-1 .co1-text .subject{color: #121212;}
.co1-1 .co1-text::after{content: '';background-color: #fff; position: absolute; left: 0; bottom: 0; right: 0; top: 0; z-index: -1; border-radius: 20px 20px 0 0;}
.co1-txt{
  width:100%;
}
.subject{
  font-size:2.5rem;
}
.co1-txt {
  width:80%; display: flex; flex-direction: column; color:#fff; margin:0 30px;
}
.main_title{
  font-size: 5rem; margin-bottom: 20px;
}
.co1-txt > p {
  font-size: 2rem; 
}
.co1-1 {
  height:70%;
}
.viewdetail {
  width:300px; padding:10px 0; font-size: 2rem;
  margin-top: 20%;
}
.viewdetail > img {
  margin-left:10px;
}
/* 메인 컨텐츠2 */
.co2_wr {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; /* 기준 요소 설정 */
  height: 70vh; /* 컨테이너 높이 설정 */
  overflow: hidden; /* 요소가 밖으로 넘치지 않도록 설정 */
}

.co2_bg{
  position: absolute; /* 절대 위치 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 60%; /* 원하는 높이만큼 차지 */
  background-image: url('../img/co2_bg.jpg'); /* 이미지 경로 */
  background-size: cover; /* 이미지 비율 유지 */
  background-position: center top; /* 이미지 상단 중앙 정렬 */
  z-index: -999;
}
.co2_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율 유지하면서 꽉 채우기 */
}
.co2_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 검정색 30% 투명도 */
  z-index: 2; /* 이미지 위에 표시 */
}
.co2_wr > .main_title {
  width:1200px; margin:20px auto; color: #fff;
}
.co2{
  width:1200px; display: flex; margin: 10px auto; background-color: #fff; padding:20px;
}
.bar{
  height:2px; width:100%; background-color: #6DB130;
}
.co2_txt{
   width:60%; display: flex; flex-direction: column; margin-left:60px;
}
.co2_txt > h3 {
  font-size: 4rem; line-height: 1.3; color:#6DB130; padding:30px 0;
}
.co2_txt > p {
  font-size:1.5rem; line-height: 1.3;
  padding:30px 0;
}

/* 메인 컨텐츠3 */
.co3_wr{
  width:100%; display: flex; flex-direction: column;
}
.co3{
  width:1200px; margin:0 auto; justify-items: center;
}
.co3_title{
  font-size: 4rem; line-height: 1.3;padding:30px 0; text-align: center;
}
.co3_title span{
  color:#6DB130;
}
.co3 p{
  font-size: 3rem; font-weight: 300; text-align: center; padding:20px 0;
}
.co_btn{
  padding:20px 40px; font-size: 2rem; font-weight: 500; background-color:#6DB130; color:#fff; border-radius: 20px;
}
.co3_img {
  margin:60px 0;
}
.co3_img img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율 유지하면서 꽉 채우기 */
}

/* 메인컨텐츠4 */

.co4_wr{
  width:1200px; padding:100px 0; margin:0 auto; display: flex; gap:60px;
}
.co4_title{
  font-size: 5rem;
}
.co4 p{
  font-size: 2rem; margin-bottom: 20px;
}
.co4_num{
  font-size:4rem ; font-weight: 600;
}
.co4_wr img{
  margin-right: 10px;
>>>>>>> a5b22c52de1d6ad116605437abe9ca991ed93452
}